/*css*/

body {
	
	
	font-family: sans-serif;
	margin-left: auto;
	margin-right: auto;
	max-width: 1532px;
	min-width:256px;
	padding-top:8px;
	padding-bottom: 24px;
	padding-left: 24px;
	padding-right: 24px;
}



html{
	
	background-color:#08163B;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 5px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 5px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 10px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 10px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
	box-sizing: border-box;
	
}

aside{
	background-color: #95C2F4;
	border: 2px #001833;
	border-radius: 10px;
	
	font-family: sans-serif;
	margin-left: auto;
	margin-right: auto;
	max-width: 1532px;
	min-width:256px;
	padding-top:8px;
	padding-bottom: 24px;
	padding-left: 24px;
	padding-right: 24px;
}

article{
	background-color: #95C2F4;
	border: 2px #001833;
	border-radius: 10px;
	
	font-family: sans-serif;
	margin-left: auto;
	margin-right: auto;
	max-width: 1532px;
	min-width:256px;
	padding-top:8px;
	padding-bottom: 24px;
	padding-left: 24px;
	padding-right: 24px;
}

.card {
		min-height: 260px;
		background-color: #BEDDFF;
		border: 10px #001833;
		border-radius: 10px;
		padding-top:8px;
		padding-bottom: 24px;
		padding-left: 24px;
		padding-right: 24px;
		margin-bottom: 8px;
		
		
	}
	
section {
		margin-bottom: 12px;
}
	
	img.medium {
		float:left;
		height: 256px;
		width: 455px;
		margin-top: 12px;
		margin-bottom: 24px;
		margin-right: 12px;
	}
	
		img.mediumright {
		float:right;
		height: 256px;
		width: 455px;
		margin-top: 12px;
		margin-bottom: 24px;
		margin-right: 12px;
	}

@media all and (min-width: 500px)
{
	article {
		float: right;
		width: 66%;
	}
	aside {
		float:left;
		padding-right: 24px;
		width: 25%;
	}
	footer{
		clear:both;
	}
	
	
}