/*css*/


body {
	font-family: sans-serif;
	margin-left: auto;
	margin-right: auto;
	max-width: 1532px;
	min-width:256px;
	padding-top:8px;
	padding-bottom: 24px;
	padding-left: 24px;
	padding-right: 24px;
}



html{
	box-sizing: border-box;
	background: radial-gradient(circle, #073974,#073974 50%, #002046 50%,#073974);
	background-size: 8px 8px;
}

aside{
	max-width: 50px;
	max-height: 20px;
	background-color: #95C2F4;
	border: 2px #001833;
	border-radius: 10px;
	color: white;
	font-family: sans-serif;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 15px;
	padding-left: 5px;
}

article{
	background-color: #95C2F4;
	border: 2px #001833;
	border-radius: 10px;
	
	font-family: sans-serif;
	margin-left: auto;
	margin-right: auto;
	max-width: 1532px;
	min-width:256px;
	padding-top:8px;
	padding-bottom: 24px;
	padding-left: 24px;
	padding-right: 24px;
}

.card {
		min-height: 260px;
		background-color: #BEDDFF;
		border: 10px #001833;
		border-radius: 10px;
		padding-top:8px;
		padding-bottom: 24px;
		padding-left: 24px;
		padding-right: 24px;
		margin-bottom: 8px;
		
		
	}
	
section {
		margin-bottom: 12px;
}
	
	img.medium {
		float:left;
		height: 256px;
		width: 455px;
		margin-top: 12px;
		margin-bottom: 24px;
		margin-right: 12px;
	}
	

@media all and (min-width: 500px)
{
	article {
		float: right;
		width: 80%;
	}
	aside {
		float:left;
		padding-right: 24px;
		width: 18%;
	}
	footer{
		clear:both;
	}
	
	
}